<%= form_with(model: kitten) do |form| %>
  <div class="row">
    <div class="col">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label :age, style: "display: block" %>
      <%= form.text_field :age, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
     <%= form.label :cuteness, style: "display: block" %>
     <%= form.text_field :cuteness, class: "form-control" %>
   </div>
   <div class="col">
     <%= form.label :softness, style: "display: block" %>
     <%= form.text_field :softness, class: "form-control" %>
   </div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
