<p style="color: green"><%= notice %></p>

<h1>List of all The Kittens</h1>

<div>
  <% @kittens.each do |kitten| %>
  <div class="card" style="width: 18rem;">
    <div class="card-header text-center">
      <strong><%= kitten.name %></strong>
    </div>
    <div class="list-group text-center" >
      Age: <%= kitten.age %>
    </div>
  </div>
    <p>
      <%= link_to "Show this kitten", kitten %>
    </p>
  <% end %>
</div>

<%= link_to "Add kitten to list", new_kitten_path %>
